.button {
  background-color: $button-color;
  font-size: 30px;
  font-weight: 700;
  color: $black-background-text-color;
  padding: 17px 25px 17px 25px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: $button-hover-color;
  font-size: 30px;
  font-weight: 700;
  color: $black-background-text-color;
  padding: 17px 25px 17px 25px;
  transition: background-color 0.3s;
}

.right-sided-button {
  float: right;
}
.left-sided-button {
  float: left;
}
