.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  > * {
    margin-left: $page-left-right-margin;
    margin-right: $page-left-right-margin;
  }
  @media screen and (max-width: 1300px) {
    > * {
      margin-left: $page-left-right-margin-medium;
      margin-right: $page-left-right-margin-medium;
    }
  }
  @media screen and (max-width: 800px) {
    > * {
      margin-left: $page-left-right-margin-small;
      margin-right: $page-left-right-margin-small;
    }
  }
}

.button-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
