.footer {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.social-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px 25px 5px 25px;
    padding: 0;
    text-decoration: none;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: $white-background-text-color;
    font-size: 2rem;
    i {
      padding: 0;
    }
  }
}

.social-icons a:hover {
  background-color: $text-hover-color;
}

.footer-text {
  color: $white-background-text-color;
}
