.head {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  height: 650px;
  .container {
    position: absolute;
    text-align: center;
  }

  h1 {
    color: $black-background-text-color;
    font-size: 8rem;
    font-weight: 700;
  }
  h2 {
    color: $black-background-text-color;
    font-size: 3rem;
    font-weight: 500;
  }
}
