.navbar {
  padding: 15px;
  .navcontainer {
    margin-left: $navigation-margin;
    margin-right: $navigation-margin;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .header {
    font-size: 30px;
    font-weight: 800;
  }
  .button-part {
    * {
      margin-left: 5px;
      margin-right: 5px;
    }

    font-size: 25px;
    font-weight: 500;
  }
}
