/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.footer {
  text-align: center; }

.social-icons {
  margin-top: 5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.social-icons a {
  text-decoration: none;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: #9b9b9b;
  font-size: 2rem; }

.social-icons a:hover {
  background-color: #75e2c7; }

.head {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  height: 650px; }
  .head .container {
    position: absolute;
    text-align: center; }
  .head h1 {
    color: #fff;
    font-size: 8rem;
    font-weight: 700; }
  .head h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: 500; }

.navbar {
  padding: 15px; }
  .navbar .navcontainer {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; }
  .navbar .header {
    font-size: 30px;
    font-weight: 800; }
  .navbar .buttons {
    font-size: 25px;
    font-weight: 500; }
    .navbar .buttons * {
      margin-left: 5px;
      margin-right: 5px; }

body {
  display: block;
  font-family: "Lora", serif; }

hr {
  color: #3f3f3f; }

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center; }
  .container * {
    top: 50%;
    padding-right: 15px;
    margin-left: 15%;
    margin-right: 15%; }

h1 {
  font-size: 3rem;
  font-weight: 600; }

h2 {
  font-size: 2.5rem;
  font-weight: 300; }

a {
  text-decoration: none;
  color: #000000; }

a:hover {
  color: #0099ff; }

p {
  font-size: 1.4rem; }

.post-date {
  font-style: italic; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.5; }

.next-button {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 10px;
  padding-bottom: 10px; }

.button {
  background-color: #0099ff;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  padding: 17px 25px 17px 25px;
  transition: background-color 0.3s; }

.button:hover {
  background-color: #0075c4;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  padding: 17px 25px 17px 25px;
  transition: background-color 0.3s; }
