/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.footer {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center; }

.social-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; }
  .social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px 25px 5px 25px;
    padding: 0;
    text-decoration: none;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: #252525;
    font-size: 2rem; }
    .social-icons a i {
      padding: 0; }

.social-icons a:hover {
  background-color: #0099ff; }

.footer-text {
  color: #252525; }

.head {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  height: 650px; }
  .head .container {
    position: absolute;
    text-align: center; }
  .head h1 {
    color: #fff;
    font-size: 8rem;
    font-weight: 700; }
  .head h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: 500; }
  @media screen and (max-width: 1630px) {
    .head h1 {
      color: #fff;
      font-size: 6.5rem;
      font-weight: 700; }
    .head h2 {
      color: #fff;
      font-size: 2.3rem;
      font-weight: 500; } }
  @media screen and (max-width: 850px) {
    .head h1 {
      color: #fff;
      font-size: 5rem;
      font-weight: 700; }
    .head h2 {
      color: #fff;
      font-size: 1.5rem;
      font-weight: 500; } }
  .head .post-header {
    text-align: left; }
    .head .post-header h1 {
      color: #fff;
      font-size: 4.5rem;
      font-weight: 700; }
    .head .post-header h2 {
      color: #fff;
      font-size: 2.5rem;
      font-weight: 500;
      margin-top: 15px; }
    .head .post-header p {
      font-size: 1.5rem;
      color: #fff;
      font-style: italic;
      margin-top: 35px; }

.navbar {
  padding: 15px; }
  .navbar .navcontainer {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; }
  .navbar .header {
    font-size: 30px;
    font-weight: 800; }
  .navbar .button-part {
    font-size: 25px;
    font-weight: 500; }
    .navbar .button-part * {
      margin-left: 5px;
      margin-right: 5px; }

body {
  display: block;
  font-family: "Lora", serif; }

hr {
  color: #3f3f3f; }

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center; }
  .container > * {
    margin-left: 30%;
    margin-right: 30%; }
  @media screen and (max-width: 1300px) {
    .container > * {
      margin-left: 20%;
      margin-right: 20%; } }
  @media screen and (max-width: 800px) {
    .container > * {
      margin-left: 10%;
      margin-right: 10%; } }

.button-container {
  margin-top: 50px;
  margin-bottom: 50px; }

h1 {
  font-size: 3rem;
  font-weight: 600; }

h2 {
  font-size: 2.5rem;
  font-weight: 300; }

a {
  text-decoration: none;
  color: #252525; }

a:hover {
  color: #0099ff; }

p {
  font-size: 2rem; }

.paragraph {
  margin-bottom: 50px; }

.caption {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  color: #252525; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.5; }

.post-date {
  font-style: italic;
  color: #252525; }

article {
  margin-bottom: 25px; }
  article h1,
  article h2 {
    margin-bottom: 25px; }
  article hr {
    margin-top: 50px; }

.button {
  background-color: #0099ff;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  padding: 17px 25px 17px 25px;
  transition: background-color 0.3s; }

.button:hover {
  background-color: #0075c4;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  padding: 17px 25px 17px 25px;
  transition: background-color 0.3s; }

.right-sided-button {
  float: right; }
