$white-background-text-color: #252525;
$black-background-text-color: #fff;
$overlay-color: #000000;
$text-hover-color: #0099ff;
$hr-color: #3f3f3f;
$button-color: #0099ff;
$button-hover-color: #0075c4;
