$main-font-family: "Lora", serif;
$overlay-opacity: 0.5;
$navigation-margin: 20%;
$page-left-right-margin-small: 10%;
$page-left-right-margin-medium: 20%;
$page-left-right-margin: 30%;
$paragraph-margin-top: 50px;
